footer {
  background-color: var(--light-grey);
}

.footer-container {
  padding: 40px 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between; 
  width: 80%;
  /* Ou bien */
  /* gap: clamp(100px, 2vw, 200px);  */
}

.raleway-footer-li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.raleway-footer-li :hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-container h2 {
  margin-bottom: 20px;
}




