/* Masquer l'icône entre 991px et 1044px */
@media screen and (min-width: 991px) and (max-width: 1044px) {
  .most-popular-container>h2>i {
    display: none;
  }
}

/* ====== tablette = entre 768px et 991px ===== */

@media screen and (max-width: 991px) {

  /* section filtres = tablette */

  .filter-section,
  .filter-button span {
    font-size: 0.8em;
  }

  .filter-section {
    gap: 10px;
  }

  .filter-button {
    padding: 0em 1em;
  }

  /* section hébergements et les plus populaires = tablette */

  .accommodation-and-popular-section {
    flex-direction: column;
  }

  .accommodation-container,
  .most-popular-container {
    width: 100%;
  }

  .accommodation-details-container {
    justify-content: space-around;
  }

  .most-popular-gallery {
    flex-direction: row;
  }

  .most-popular-details-container {
    padding: 5px 10px;
  }

  /* section activités = tablette */

  .activities-gallery {
    gap: 30px;
  }

  .activity-card {
    height: 300px;
  }

  /* footer = tablette */

  .footer-container {
    width: 95%;
  }
}

/* ===== mobile = max-width: 767 px ======= */

@media screen and (max-width: 767px) {
  .main-container {
    margin: 20px 0 0 0;
  }

  /* logo et navbar = mobile */

  header {
    flex-direction: column;
  }

  nav {
    width: 100%;
  }

  .navbar-link {
    text-align: center;
  }

  nav a::before {
    top: 70px;
  }

  nav a:hover::before {
    top: 70px;
    width: 53.26vw;
    left: -20px;
  }

  /* formulaire de recherche = mobile */

  .research-filters-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-research {
    width: 48px;
  }

  #research {
    display: none;
  }

  #glass {
    display: inline;
    transition: all 0.2s ease-in-out;
  }

  /* filtres = mobile */

  .filter-section {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  }

  .filter-list {
    flex-wrap: wrap;
  }

  .filter-button {
    width: 160px;
  }

  .filter-button span {
    font-size: 0.8em;
  }

  #dog-button {
    padding: 7px;
    gap: 5px;
  }

  .info-message {
    margin-top: 30px;
  }

  /* section hébergement et les plus populaires = mobile */

  .accommodation-and-popular-section {
    flex-direction: column-reverse;
  }

  .most-popular-container {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  overflow: visible;
}

  .most-popular-gallery {
  flex-direction: column;
  overflow: visible;
}

  .most-popular-card picture img {
  width: 130px;
}

.most-popular-card {
  overflow: visible;
}

  /* Cibler spécifiquement le h5 de la carte "Chambres d'hôtes Au coeur de l'eau" */
  #au-coeur-de-leau+.card-details-container .raleway-card-title {
    font-size: 16px;
  }

  .most-popular-details-container {
    padding: 10px 15px 10px 15px;
  }

  .most-popular-details {
    gap: 5px;
  }

  /* Partie hébergements = mobile */

  .accommodation-gallery {
    grid-template-columns: 1fr;
  }

  .accommodation-container {
    background-color: var(--white);
    padding: 20px;
  }

  .display-more {
    display: none;
  }

  /* Partie Activités = mobile */

  .activities-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .activities-section h2 {
    width: 120px;
  }

  .activities-gallery {
    margin-top: 5px;
    flex-direction: column;
    gap: 20px;
  }

  .activity-card {
    height: 180px;
  }

  .image-wrapper {
    max-height: calc(100% - 50px);
  }

  #Notre-Dame-de-la-Garde img {
    object-position: top;
  }

  .activity-details {
    height: 50px;
  }

  /* footer = mobile */

  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    gap: 50px;
  }
}

/* ===== desktop = min-width: 992px ===== */

@media screen and (min-width: 992px) {
  .activity-details {
    height: 15px;
    padding: 2px 15px;
  }
}